@use "@Sass/constants.scss" as v;

section.home-prestation{

    .buttons{
        color: v.$dark;
        padding-left: 1rem;
        width: 100%;
        display: flex;
        gap: 1rem;
        font-size: 16px;
        button{
            opacity: 0.4;
            &.focus{
                opacity: 1;
            }
        }
    }


    #picture-container{
        position: relative;
    }
}