@use "@Sass/constants.scss" as v;
@use "@Sass/mixins.scss" as mixins;



div#apropos-container{

    

        div.section{
            
            padding: 2rem 21px 1rem 21px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            gap: 40px;
            padding-top: 50px;
            padding-bottom: 50px;
    
            
        
            &.black{
                background-color: v.$dark-light;
                color:v.$light;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
                &.small{
                    padding-top: 25px;
                    padding-bottom: 25px;
                }
            }
        
            p{
                line-height: 25px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 90%;
                letter-spacing: 1px;
            }
        }
    
    @include mixins.respond-to("desktop"){
        padding-top: 8rem;
        
        display: flex;
        flex-direction: column;
        gap: 10rem;
        font-size: 18px;

        .section{
            margin-left: 7vw;
            margin-right: 8vw;

            &.reverse{
                flex-direction: row-reverse;
            }
            &.white{
                display: flex;
                flex-direction: row;
                // background-color: red;
                align-items: normal;
                justify-content: center;
                gap: 2rem;

                img{
                    // outline: 1px solid red;
                    // height: 40rem;
                    width: 20%;
                    object-fit: cover;

                }
                p{
                    // margin-top: -10px;
                    justify-content: space-between;
                    line-height: 50px;
                    width: 20%;
                    
                    // outline: 1px solid red;
                }
            }
            &.black{
                padding-top: 4rem;
                padding-bottom: 4rem;
                background-color: v.$dark-light;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
                p{
                    align-items: center;
                    width: 50%;
                    gap: 2rem;
                    line-height: 30px;
                    letter-spacing: 2px;
                    span{
                        text-align: center;
                        opacity: 0.9;
                    }
                }
                &.small{
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    // padding-left: 0;
                    margin: 0;
                }
            }
        }
    }
    
}