@use "@Sass/constants.scss" as v;
@use "@Sass/mixins.scss" as mixins;

div#medias-container{
    // outline: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 20px;

    @include mixins.respond-to("desktop"){
        font-size: 24px;
        gap: 2rem;
    }

    a{

        &.dark{
            color: v.$dark;
        }
        &.light{
            color: v.$light;
            opacity: 80%;
        }
    }
}