div#admin-view-portefolio{

    .role-photos{
        margin-top: 2rem;
        // background-color: red;
        display: grid;
        grid-template-columns: 30% 1px 70%;
        gap: 1rem;
        .separator{
            height: 100%;
            width: 1px;
            background-color: rgba(0, 0, 0, 0.182);
        }
        .representant{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                width: 25rem;
                text-align: center;
            }
            picture{
                display: flex;
                justify-content: center;
            }
            // background-color: blue;
            .photo{
                position: relative;
                margin-top: 1rem;
                border: 2px solid rgb(98, 68, 0);
                background-color: rgb(196, 144, 0);
                padding: 2px;
                height: 20rem;
                max-width: 15rem;
                padding: 2px;
                img{
                    object-fit: cover;
                    height: 100%;
                }
                &.selected{
                    &::after{
                        position: absolute;
                        content: "";
                        left: 50%;
                        bottom: -1rem;
                        width: 80%;
                        height: 4px;
                        background-color: rgb(196, 144, 0);
                        border-radius: 8px;
                        transform: translateX(-50%);
                    }
                }
            }
            .noPhoto{
                position: relative;
                margin-top: 1rem;
                height: 20rem;
                width: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;
                color: white;
                background-color: rgb(196, 144, 0);
                border: 2px solid rgb(98, 68, 0);

                &.selected{
                    &::after{
                        position: absolute;
                        content: "";
                        left: 50%;
                        bottom: -1rem;
                        width: 80%;
                        height: 4px;
                        background-color: rgb(196, 144, 0);
                        border-radius: 8px;
                        transform: translateX(-50%);
                    }
                }
        
                span{
                    text-align: center;
                }
            }
        }
        .banner{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                width: 20rem;
                text-align: center;
            }
            .pictures{
                display: flex;
                justify-content: center;
                gap: 0.5rem;
            }
            .photo{
                position: relative !important;
                margin-top: 1rem;
                height: 20rem;
                max-width: 15rem;

                border: 2px solid rgba(23, 0, 137, 0.616);
                background-color: rgba(23, 0, 137, 0.616);
                padding: 2px;
                img{
                    object-fit: cover;
                    height: 100%;
                }

                &.unselected{
                    cursor: pointer;
                    &:hover{
                        &::after{
                        position: absolute;
                        content: "";
                        left: 50%;
                        bottom: -1rem;
                        width: 80%;
                        height: 4px;
                        background-color: rgba(23, 0, 137, 0.3);
                        border-radius: 8px;
                        transform: translateX(-50%);
                    }}
                }
                &.selected{
                    &::after{
                        position: absolute;
                        content: "";
                        left: 50%;
                        bottom: -1rem;
                        width: 80%;
                        height: 4px;
                        background-color: rgba(23, 0, 137, 1);
                        border-radius: 8px;
                        transform: translateX(-50%);
                    }
                }
            }
            .noPhoto{
                position: relative;
                margin-top: 1rem;
                height: 20rem;
                width: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;
                color: white;
                background-color: rgba(23, 0, 137, 0.616);
                border: 2px solid rgba(23, 0, 137, 0.616);
                &.unselected{
                    cursor: pointer;
                    &:hover{
                        &::after{
                        position: absolute;
                        content: "";
                        left: 50%;
                        bottom: -1rem;
                        width: 80%;
                        height: 4px;
                        background-color: rgba(23, 0, 137, 0.3);
                        border-radius: 8px;
                        transform: translateX(-50%);
                    }}
                }
                &.selected{
                    &::after{
                        position: absolute;
                        content: "";
                        left: 50%;
                        bottom: -1rem;
                        width: 80%;
                        height: 4px;
                        background-color: rgba(23, 0, 137, 1);
                        border-radius: 8px;
                        transform: translateX(-50%);
                    }
                }
        
                span{
                    text-align: center;
                }
            }
        }
    }

    >.separator{
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.182);
    }

    .actions{
        margin-top: 3rem;
        display: flex;
        gap: 1rem;
        button{
            padding: 0.5rem 2rem 0.5rem 2rem;
            border-radius: 4px;
            background-color: rgba(128, 128, 128, 0.1);
            box-shadow: 0px 0px 4px black;
            opacity: 0.4;
            cursor: pointer;
            transition: opacity 0.15s linear;
            &:hover{
                opacity: 1;
            }
            &.add{opacity: 1;}
            &.active{opacity: 1;}
            &.save{background-color: rgba(81, 255, 81, 0.241);}
            &.cancel{background-color: rgba(255, 131, 131, 0.389);}
            &.representant{background-color: rgba(255, 200, 72, 0.612);}
            &.banner{background-color: rgba(23, 0, 137, 0.216);}
            &.delete{background-color: rgba(255, 131, 131, 0.389);}
        }
    }

    
    
    
    ul.galery-container{
        margin-top: 1rem;
        max-width: 100%;
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;



        .savedPhotos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: fit-content;
        }

        .pendingPhotos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: fit-content;
        }

        .paysage{
            grid-column: span 2;
        }
    
        li{
            margin: 0.2rem;
            // height: 15rem;
            // width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.15s linear;
            }
            &.representant{
                outline: 2px solid rgb(98, 68, 0);
                background-color: rgb(196, 144, 0);
                padding: 2px;
            }
            &.pending{
                img{
                    background-color: rgb(0, 54, 107);
                    padding: 0.5rem;
                }
            }
            &.can_have_action{
                position: relative;
                button.overlay{
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: opacity 0.15s linear;
                    color: white;
                    &.deleteMode{background-color: rgba(76, 0, 0, 0.563);}
                    &.representantMode{background-color: rgba(146, 102, 0, 0.564);}
                    &.bannerMode{background-color: rgba(23, 0, 137, 0.316);}
                    
                }
                &.active{
                    &:hover{
                        img{
                            background-color: black;
                            opacity: 0.5;
                        }
                        button{
                            cursor: pointer;
                            opacity: 1;
                        }
                    }

                }
            }
        }
    }
}
