@use "@Sass/mixins.scss" as mixins;
@use "@Sass/constants.scss" as v;


#contact-main-container{
    outline: 1px solid red;
    height: 80vh;
    padding: 2rem 21px 1rem 21px;

    @include mixins.respond-to("desktop"){
        margin-top: 4rem;
        padding: 2rem 15vw 1rem 15vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8vw;

        picture{
            margin-top: 20px;
            width: 100%;
            min-width: 20rem;
            height: 73%;
            background-color: rgb(228, 228, 228);
        }
    }
}

#contact-layout-container{
    // background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 5rem); // Moins la taille du header
    
    .contact{
        padding: 2rem 21px 1rem 21px;
    }
    @include mixins.respond-to("desktop"){
        .contact{
            padding: 2rem 15vw 1rem 15vw;
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8vw;
            
            picture{
                margin-top: 20px;
                width: 100%;
                min-width: 20rem;
                height: 73%;
                background-color: rgb(228, 228, 228);
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    object-position: 20%;
                }
            }
        }

    }

    .contact-media{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: v.$dark-light;
    }
    
}
