@use "@Sass/constants.scss" as v;

form#contact-form{
    // outline: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .line{
        width: 100%;
        display: flex;
        gap: 1rem;

        .field{
            width: 100%;

            input, select, textarea{
                all:unset;
                box-sizing: border-box;
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                width: 100%;
                outline: 1px solid v.$inputContactOutlineUnfocus;
                background-color: v.$inputBackgroundUnfocus;
                font-size: 16px;
                transition: all 0.1s linear;

                select{
                    outline: 1px solid v.$inputContactOutlineFocus;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    background-color:v.$inputBackgroundFocus;
                }
                &:valid{
                    outline: 1px solid v.$inputContactOutlineFocus;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    background-color:v.$inputBackgroundFocus;
                }
                &:focus{
                    outline: 1px solid v.$inputContactOutlineFocus;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                    background-color:v.$inputBackgroundFocus;
                }
            }

            #select{
                position: relative;
                // outline: 1px solid red;

                i{
                    position: absolute;
                    right: 0.5rem;
                    top: 50%;
                    transform: translateY(-50%);
                    color: v.$dark;
                }
            }

            
        }
    }
}