@use "@Sass/constants.scss" as v;

*{
    // outline: 1px solid red !important;
}

@font-face {
  font-family: 'Brightwall';
  src: url('/Fonts/Brightwall.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: v.$light;
    overflow-x: hidden; //
}

#root{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5rem 90%;

}

main{
  height: 100%;
  position: relative;
  font-family: v.$font;
}


// RESET

ul, li, button, a{
    all:unset;
}

