@use "@Sass/constants.scss" as v;

#prestation-index{
    background-color: v.$dark;
    width: 100vw;
    height: calc(100vh - 5rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(100vh - 5rem);
    overflow: hidden;


    a{
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            box-shadow: 0px -150px 80px -60px black inset,
                        -10px 0px 40px black inset;
            pointer-events: none;
            z-index: 1;
            transition: all 0.15s linear;
        }
    }

    h2{
        all:unset;
        position: absolute;
        z-index: 3;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        color: v.$light;
        text-align: center;
        word-wrap:break-word;
        text-wrap: break-word;
    }
}