#admin_main_container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 5rem calc(100vh - 5rem);

    header{
        display: flex;
        align-items: center;
        box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);
        h1{
            font-size: 1.4rem;
            margin-left: 2rem;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }
}